<p id="notice"><%= notice %></p>

<h2 class="header_text">Сделайте поиск нужного человека или загрузите ответ с центра занятости</h2>
<%= form_tag find_path do %>
  <div class="input-group">
    <%= text_field_tag 'employment_centers[user]', nil, placeholder: "Введите ФИО...", class: "form-control" %>  
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Искать!</button>
    </span>
  </div>
<% end %>    

<br>
<br>
<%= link_to 'Загрузить файлы', new_employment_center_path %>
