@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  height: 100%;
  margin: 0;
  overflow:hidden;
  font-family: helvetica;
  font-weight: 100;
}

.content {
  width: 100%;
}

.header {
  background-color: #d9534f;
}

.table {
  width: 80%;
}

.navbar-brand {
  margin: 10 0 0 10;
  color: #fff !important;
  font-size: 2rem;
  &:hover {
    color: yellow !important;
  }
}

.nav_left {
  height:auto !important;
  height:100%;
  min-height:100%;
  width: 15%;
  float: left;
}

.link-sign_in {
  margin-right: 10px;
  color: #fff !important;
  font-size: 1.5rem;
  &:hover {
    color: yellow !important;
  }
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #bc4d4a;
   border-color: #fff;
}

.input-group {
  width: 60% !important;
}

.header_text {
  color: #5cb85c;
}
