<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li><%= link_to "Центр занятости", employment_centers_path, class: "active-menu" %></li>
      <li><%= link_to "Монитор VPN", root_path, class: "active-menu" %></li>
      <li><%= link_to "Монитор точка интеграции", root_path, class: "active-menu" %></li>
      <li><%= link_to "Монитор мультишлюз", root_path, class: "active-menu" %></li>
    </ul>
   </div>
</nav>